/*--------------Home page settup-------------------*/
.link{
    text-decoration: none;
    color: white
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(122, 160, 231);
    
    /* box-sizing: border-box; */
}
/*main container*/
.main-container{
    display: flex;
    height: 99vh;
    width: 100vw;
}
/*Side bar*/
.sidebar{
    border: 2px brown solid;
    margin: 8px;
    border-radius: 18px;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(86, 116, 173);
}
/*content( it contain the welcome message )*/
.content{ 
    border: 2px solid brown;
    margin: 10px;
    border-radius: 19px;
    margin-left: 6px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-shadow: 4px 4px white;
    background-color: rgb(70, 122, 219);
    align-items: center;
}
/*welcom message*/
#welcom-message{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
/*section (in the side bar where there is buttons)*/
.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 20px;
    height: 60%;
    align-items: center;
   
}
/*sections buttons*/
.sections span{
   
    width: 96%;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    color: brown;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


/*top section where the logo live*/
.top-section{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
  
    border-radius: 18px;
}

/*logo settup*/
.top-section img{
    width: 70%;
    height: 90%;
    
}
/*logo descdription*/
.top-section span{
    font-size: 23px;
    font-weight: bold;
    
}
/*link*/
.sections span a{
    text-decoration: none;
    color: brown;
}
/*Buttons and hover effect*/

.sections span:hover{
    background-color: #2374EE;
    color: white;
   
}
.sections span:hover a{
    background-color: #2374EE;
    color: white;
}
.sections .active {
    background-color: #2374EE;
   
}
.sections .active  {
    color: white;
}
/*-------------- ----------------------------Add page settup---------------------------------*/
/*from content container the title and the form */
/*settup the active button background and color*/
.sections .active-add{
    background-color: #2374EE;
}
.sections .active-add a{
    color: white;
}
/*can u sum the two proprities abouve ?*/
/*the content border jsut to manipulte the element as the title and the form*/
.form-content{
    border: 2px solid brown;
    margin: 10px;
    border-radius: 19px;
    margin-left: 6px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(70, 122, 219);
    align-items: center;
}
/*settup the form itself*/
.form-content form{
    border: 3px solid white;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*settup the form elements
 which are inside as the inputs and the buttons*/
form .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
/*the form title*/
.form-content span{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-shadow: 2px 2px white;
}
.amount , .category ,.note{
   
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}
.category{
    gap: 24px;
}
.note{
    gap: 77px;
}
label{
    font-size: 30px;
    margin-left: 60px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px white;
}
input{
    width: 74%;
    border-radius: 6px;
    font-size: 20px;
    border: 2px black solid;
}
/*button*/
/*.button is the dive that regroupe the buttons*/
.button{
    display: flex;
    justify-content: space-around;
    
}
/* settup the button Add*/
.button button{
    font-size: 35px;
    border-radius: 8px;
    background-color:brown;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px white;
}
/*settup the hover of the button ADD*/
.button button:hover{
    background-color: white;
    color: #2374EE;
}
/*settup back link to look like a back button*/
#link-btn{
 border:  2px solid rgb(173, 168, 168);
 width: 6%;
 border-radius: 8px;
 box-shadow: 2px 2px white;
 background-color: brown;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-size: 25px;
 padding-left: 6px;
 padding-right: 6px;
}
/*settup back's hover*/
#link-btn:hover{
    background-color:white ;
    color:#2374EE;
}
/*---------------------------------- List page settup-------------------------------------*/
/*the container that containe all  the elements*/
.list-content{
    border: 2px solid brown;
    margin: 10px;
    border-radius: 19px;
    margin-left: 6px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(70, 122, 219);
    align-items: flex-start;

}
/*table controling*/
.list-content table{
    font-size: 51px;
    border: brown 3px solid;
    width: 96%;
    background-color: hsl(0, 0%, 94%);
    border-collapse: collapse;
}
/*th & td cellule controling*/

.list-content table th td{
    color: white;
    padding: 0;
}
/*td manipulation*/
table tr td {
    color:black;
    padding-bottom:4px;
    font-size: 25px;
   
  
}

/*th manipulation*/
table tr th {
    background-color:  hsl(0, 59%, 47%);
    color: white;
    font-size: 35px;
    padding: 0;
    border: white 2px solid;
    position:sticky;/* tell the browser stick me when the table scrole*/
    top: 0px; /* tell the browser stick me at the top with 0px */
 

   
}

/*action buttons are button in the table*/
/*.action-btns is the container that containe two buttons */
#action{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.action-btns{
    border: 2px  yellow solid;
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: space-evenly ;
    align-items: center;
}
.action-btns button{
    font-size: 25px;
    border: none;
    border-radius: 9px;
    background-color: red;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#del{
    background-color: hsl(0, 100%, 46%);
    color:white;
    
}
#edit{
    background-color: hsl(120, 100%, 25%);
    color:white;
}
#x{
    background-color: hsl(0, 100%, 46%);
    border-radius: 9px;
    color: white;
    width: 31%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
}

/*the header is what conataine the title and the buttons*/
/*head is a container containe span and header-btns*/
.head{
    display: flex;
    justify-content: space-evenly;
    gap: 500px;
    align-items: center;
    width: 100%;
    height: 20%;

}

.head span{
    font-size: 50px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px white;
    margin-left: 20px;
    border-radius: 25px;
    width: 40%;
    
    padding: 4px;
  

}
.header-btns{

 display: flex;
 width: 20%;
 justify-content: space-evenly;
 border-radius: 25px;
 width: 40%;
 height: 40%;


}
.header-btns button , #back{
    font-size: 27px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.header-btns form button{
    border: 2px solid yellow;
    height: 50px;
}

#del-all{
    background-color: hsl(0, 85%, 42%);
    color: white;
    border-radius: 18px;
    box-shadow: 2px 2px white;
  

}

#back{
    background-color: hsl(0, 0%, 50%);
    color: white;
    box-shadow: 2px 2px white;
    border-radius: 18px;
    width: 20%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.body{
    display: flex;
   
    height: 78%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; /* overflow for scroling */

}
.amount{
    color: black;
}
/*buttons*/
.sections .active-list {
    background-color: #2374EE;
   
}
.sections .active-list a {
    color: white;
}
/*hover effect*/
#del-all:hover{
    background-color: hsl(0, 85%, 50%) ;
    
}
#back:hover{
    background-color: hsl(0, 0%, 60%);
    color: white;
    box-shadow: 2px 2px white;
    border-radius: 18px;
}
#del:hover{
    background-color: hsl(0, 100%, 55%);
    color:white;
}
#edit:hover{
    background-color: hsl(120, 100%, 40%);
    color:white;
}
#x:hover{
    background-color: hsl(0, 100%, 55%); 
}
table td input {
   border: none; /*remove the  default border*/
   outline:none;
   text-align: center;
   background-color: hsl(0, 0%, 94%);
   font-size: inherit; /* so it take same size as the other tds */
   /*inherit is a good atributs for inheritance*/
}
.data-error{
    border-top: 2px solid white;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-error span{
    color: brown;
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px white;
}

/*------------------------------------settup summary page----------------------*/
.main-container-s{
    background-color: rgb(122, 160, 231);
    flex:1;
    height: 99%;
    display: flex;
    border: 2px yellow solid;
    
}
.content-s{
    border: 2px brown solid;
    flex: 1;
    margin-right:8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
/*summary title*/
.top{
    display: flex;
    justify-content: center;
}
.top span{
    font-size: 70px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 6px 6px brown;
 
    
}
/*expense data*/
.label-s{
    font-size: 60px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-shadow: 3px 3px white;
    border: 2px solid white;
 
}
.data{
    font-size: 50px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: black;
    text-shadow: 1px 1px white;
    border: 2px solid white;
}
.content-s{
    background-color: rgb(70, 122, 219);
     border-radius: 18px;
     height: 98%;
     margin-top: 8px;
}
.content-s table tr {
    width: 98%;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    border-radius:10px;
    margin-left: 9px;
   
   
}
.content-s table{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.label-s{
    width: 40%;
    text-align: center;
}
.data{
    width: 30%;
    text-align: center;
}
