/*--------------Home page settup-------------------*/
.link{
    text-decoration: none;
    color: white
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(122, 160, 231);
    
    /* box-sizing: border-box; */
}

/*main container*/
.main-container{
   
    display: flex;
    height: 99vh;
    width: 100vw;
    
  
    
    
}
/*Side bar*/
.sidebar{
    border: 2px brown solid;
    margin: 8px;
    border-radius: 18px;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    background-color: rgb(86, 116, 173);
  
}
/*content( it contain the welcome message )*/
.content{ 
    border: 2px solid brown;
    margin: 10px;
    border-radius: 19px;
    margin-left: 6px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-shadow: 4px 4px white;
    background-color: rgb(70, 122, 219);
    align-items: center;
 
}

/*welcom message*/
#welcom-message{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
/*section (in the side bar where there is buttons)*/
.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 20px;
    height: 60%;
    align-items: center;
   
}
/*sections buttons*/
.sections span{
   
    width: 96%;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    color: brown;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


/*top section where the logo live*/
.top-section{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
  
    border-radius: 18px;
}

/*logo settup*/
.top-section img{
    width: 70%;
    height: 90%;
    
}
/*logo descdription*/
.top-section span{
    font-size: 23px;
    font-weight: bold;
    
}
/*link*/
.sections span a{
    text-decoration: none;
    color: brown;
}
/*Buttons and hover effect*/

.sections span:hover{
    background-color: #2374EE;
    color: white;
   
}
.sections span:hover a{
    background-color: #2374EE;
    color: white;
}
.sections .active {
    background-color: #2374EE;
   
}
.sections .active  {
    color: white;
}
/*-------------- Add page settup-------------------*/
/*from content container the title and the form */
/*settup the active button background and color*/
.sections .active-add{
    background-color: #2374EE;
}
.sections .active-add a{
    color: white;
}
/*can u sum the two proprities abouve ?*/
/*the content border jsut to manipulte the element as the title and the form*/
.form-content{
    border: 2px solid brown;
    margin: 10px;
    border-radius: 19px;
    margin-left: 6px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(70, 122, 219);
    align-items: center;
}
/*settup the form itself*/
.form-content form{
    border: 3px solid white;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*settup the form elements
 which are inside as the inputs and the buttons*/
form .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    
}
/*the form title*/
.form-content span{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-shadow: 2px 2px white;
}
.amount , .category ,.note{
   
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}
.category{
    gap: 24px;
}
.note{
    gap: 77px;
}
label{
    font-size: 30px;
    margin-left: 60px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px white;
  

}
input{
    width: 74%;
    border-radius: 6px;
    font-size: 20px;
    border: 2px black solid;
}
/*button*/
/*.button is the dive that regroupe the buttons*/
.button{
    display: flex;
    justify-content: space-around;
    
}
/* settup the button Add*/
.button button{
    font-size: 35px;
    border-radius: 8px;
    background-color:brown;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px white;
}
/*settup the hover of the button ADD*/
.button button:hover{
    background-color: white;
    color: #2374EE;
}
/*settup back link to look like a back button*/
#link-btn{
 border:  2px solid rgb(173, 168, 168);
 width: 6%;
 border-radius: 8px;
 box-shadow: 2px 2px white;
 background-color: brown;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-size: 25px;
 padding-left: 6px;
 padding-right: 6px;
}
/*settup back's hover*/
#link-btn:hover{
    background-color:white ;
    color:#2374EE;
}