<!DOCTYPE html>
<html>
    <head>
        <title>Add Expense</title>
    </head>
    <body>
        <img src="" alt="user_img">
        <h1>Username</h1>
        <img src="" alt="logo">
        <h2>Add Expense</h2>
        <form action="" method="POST"><!--this time im gonna use table but next time ill handl space throught css-->
            <table>
                <tr>
                    <td><label>Amount:</label></td>
                    <td><input type="number" required placeholder="50 or 31.5 ect..."></td>
                </tr>
                <tr>
                    <td><label>Catergory:</label></td>
                    <td><input type="text" required placeholder="food,Drinks,ect.."></td>
                </tr>
                <tr>
                    <td><label>Notes:</label></td>
                    <td><input type="text" required placeholder="Milk,Bread,Perfum,ect.."></td>
                </tr>
                <tr>
                    <td> <button type="submit">add</button></td>
                    <!--here i think submit button automaticly post when it clicked-->
                </tr>
            </table>
            <!--of course im ignoring errour handling for now -->



        </form>
    </body>
</html>