<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
    </head>
    <body>
        <!--this img position top-left of the page-->
        <img src="" alt="phto_theuserchose" id="user_img">
        <!-- here actualy i think im gonna give the user 7 or 8 rounded circle phto_theuserchose
        and ask him to chose as a base app -->
        <h3>Username</h3><!--im gonna change it latter to {{name}} when working on
        app.py and same for all things-->
        <!--the username beside the user_img with a space so they dont glue -->
        <a href="/add">➕Add an Expense</a> <br>
        <a href="/list">📋List Expenses</a> <br>
        <a href="/summary">📝Summary Expense</a> <br>
        <!-- the buttons gonna be at the left-buttom--> <br>
         <img src="" alt="logo"><!--this will be the app logo-->
        
        
    </body>
</html>