<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="main-container">
            <div class="sidebar">
                <div class="top-section">
                    <img src="{{url_for('static',filename='logo.png')}}" alt="logo">
                    <span><font style="color: brown;">Expense </font><font style="color: rgb(53, 159, 201);">Tracker</font></span>
                </div>
                
                <div class="sections">
                    <span class="active">Home</span>
                    <span>
                        <a href="/add">Add Expense</a>
                    </span>
                    <span>
                        <a href="/list">List All Expenses</a>
                    </span>
                    <span>
                        <a href="/summary">Summary Expenses</a>
                    </span>
                    <span>
                        <a href="/wallet">My Wallet</a>
                    </span>
                    
                    
                </div>
            </div>
            <div class="content">
                <span id="welcom-message">
                    Welcome to the team!<br>
                    We’re excited to have you here and can’t wait to see the impact you’ll make.
               </span>
              
               
               
            </div>
        </div>
    </body>
</html>
        
       
        
    
     
       

        
    
