<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <title>HomePage</title>
    </head>
    <body>
        <div class="main-container">
            <!--left container-->
            <div class="left-column">
                <img src="{{url_for('static',filename='woman1.webp')}}" alt="phto_theuserchose" id="user_img"> 
                <h1>username</h1> 
            </div>
            <!--center container-->
            <div class="center-column">
                <h1 class="title">Expense Tracker </h1>
                <div class="tool-box">
                    <a href="/add">➕Add an Expense</a> <br>
                    <a href="/list">📋List Expenses</a> <br>
                    <a href="/summary">📝Summary Expense</a>  <br>
                </div>
            </div>
            <!--right container-->
               <div class="right-column">
                <img src="{{url_for('static',filename='logo.png')}}" alt="phto_theuserchose" id="logo"> 
            </div>
        
        </div>
        
       
        
    
     
       

        
    
       
        <!-- here actualy i think im gonna give the user 7 or 8 rounded circle phto_theuserchose
        and ask him to chose as a base app -->
        <!--im gonna change it latter to {{name}} when working on
        app.py and same for all things-->
        <!--the username beside the user_img with a space so they dont glue -->
        
      
        <!-- the buttons gonna be at the left-buttom--> 
         
       
       
            
        
        
    </body>
</html>